.footerWrapper {
  background: $dark;
  color: $white;
  padding: 20px 50px;
  @include flex(flex, space-between, center, column, 10px, wrap);
  .info {
    width: 100%;
    @include flex(flex, space-between, center, row, 30px, wrap);
    p {
      padding: 5px 0;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.5s ease;
        .icon {
          width: 25px;
          height: 25px;
        }
        &:hover {
          color: $baseRose;
        }
      }
    }
  }
}
